<div class="container">
  <img src="/images/beer.png" alt"Beer!">
</div>

<button type="button" class="btn btn-primary btn-sm">Beers</button>

<button type="button" class="btn btn-primary btn-sm">Random Beers</button>