<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Beer Website</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbarNew navbar-dark" style="background-color: #2081C3">
    <div class=" navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/beers">Beers</a>
      <a class="nav-item nav-link" href="/randombeer">Random Beer</a>
    </div>
  </nav>

  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-left footerNew py-3 fixed-bottom">Developed by IronHack :-)
    </div>
  </footer>
  {{{body}}}

</body>

</html>